body{
    font-family: Arial, sans-serif;
    font-size: 17px;


    background: url("../img/background.jpg") no-repeat;
    background-size: cover;

}


.title {
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: coral;
}

.table {
    width: 100%;
    border: 2px solid #fff;
    border-collapse: collapse;
    table-layout: auto;
}

.table th{
    padding: 10px 20px;
    text-align: center;
    color: cornflowerblue;
}

.table td {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #fff;
}

.table tfoot td{
    text-align: left;
}

.text-red {
    display: block;
    margin: 10px;
    color: #e501e5;
    font-weight: 700;
    font-style: italic;
}

.page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Post */
.post {
    width: 700px;
    height: 588px;
    padding: 15px 25px;

    margin-top: 177px;
    margin-left: 70px;

    color: aliceblue;

    border: 1px solid black;

    background: rgba(0, 0, 0, 0.74) url("../img/compass.png") no-repeat right top;
    background-size: 100px 100px;
}

.post-title {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 40%;

    color: #d36900;
}

.post-text p {
    margin: 0 0 10px 0;
    hyphens: auto;
}

.post-text-2 {
    padding-top: 10px;
}

.namegame {
    font-weight: 700;
    color: #5684c5;
}

    /*Gradient*/
.gradient {
    width: 752px;
    height: 300px;
    margin: 0 70px;

    background-image: radial-gradient(circle, #c300c3, #0008ce);
}
